@charset "utf-8";

.fvch-hide-if-no-js {
    display: none !important;
}

.fvch-codeblock {
    background: #2e2e2d;
    border:  1px solid #1e1e1d;
    padding: 0 !important;
    margin: 0 0 1em;
    border-radius: 3px;
    overflow-x: auto;
    position: relative;
}

.fvch-codeblock table,
.fvch-codeblock tbody,
.fvch-codeblock tr,
.fvch-codeblock td,
.fvch-codeblock pre {
    padding: 0;
    margin: 0;
    border: none;
}

.fvch-codeblock pre {
    white-space: pre;
    padding-left: .5em;
    font-family:  "Monaco", "Courier New", Courier, monospace;
    border: none !important;
    background: none !important;
    color: #f8f8f2 !important;
}

.fvch-toolbox {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    border-left: 1px solid #3e3e3d;
    border-bottom: 1px solid #3e3e3d;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #2e2e2d;
    padding: 3px 6px 0;
}

.fvch-codeblock:hover .fvch-toolbox {
    display: block;
}

.fvch-toolbox .fvch-toolbox-icon {
    border: none !important;
    background: none !important;
    cursor: pointer !important;
    margin: 0 !important;
    padding: 2px !important;
    height: 20px;
}

.fvch-toolbox .fvch-toolbox-icon path {
    fill: #6e6e6d;
}

.fvch-toolbox .fvch-toolbox-icon:active path {
    fill: #4e4e4d;
}

td.fvch-line-number {
    text-align: right;
    color: #5e5e5d;
    width: 1%;
    min-width: 30px;
    padding: 0 .7em !important;
    background: #2e2e2d;
    border-right: 1px solid #3e3e3d;
    user-select: none;
}
td.fvch-line-number:before {
    content: attr(data-line-number);
}

table.fvch-code tr:first-child td {
    padding-top: 5px;
}

table.fvch-code tr:last-child td {
    padding-bottom: 5px;
}



/**
 * General
 */
.general {
    color: #f8f8f2;
    font-weight: normal;
}
.general-number {
    color: #ae81ff;
}
.general-operator {
    color: #f8f8f2;
}
.general-brackets {
    color: #f8f8f2;
}
.general-string {
    color: #a6e22e;
}


/**
 * Bash
 */
.bash {
    color: #000;
}
.bash-comment {
    color: rgb(0, 131, 18);
}
.bash-number {
    color: rgb(41, 52, 212);
}
.bash-operator {
    color: rgb(0, 0, 0);
}
.bash-brackets {
    color: rgb(0, 0, 153);
}
.bash-command {
    color: rgb(184, 51, 161);
}
.bash-string {
    color: rgb(207, 49, 37);
}


/**
 * CSS
 */
.css {
    color: #f8f8f2;
}
.css-import {
    color: #f8f8f2;
    font-weight: bold;
}
.css-media {
    color: #f8f8f2;
    font-weight: bold;
}
.css-comment {
    color: #708090;
}
.css-important {
    color: #ae81ff;
    font-weight: bold;
}
.css-property {
    color: #f92672;
}
.css-selector {
    color: #f8f8f2;
}
.css-string {
    color: #ae81ff;
    font-weight: normal;
}
.css-value {
    color: #a6e22e;
}
.css-rest {
    color: #f8f8f2;
    font-weight: bold;
}

/**
 * (x)HTML
 */
.html {
    font-weight: normal;
    color: #f8f8f2;
}
.html-anchor-element {
    color: #e6db74;
}
.html-attribute {
    color: #a6e22e;
}
.html-comment {
    color: #708090;
}
.html-form-element {
    color: #e6db74;
}
.html-image-element {
    color: #e6db74;
}
.html-object-element {
    color: #e6db74;
}
.html-other-element {
    color: #e6db74;
}
.html-script-element {
    color: #e6db74;
}
.html-special-char {
    color: #f8f8f2;
    font-weight: bold;
}
.html-style-element {
    color: #e6db74;
}
.html-table-element {
    color: #e6db74;
}
.html-text {
    color: #f8f8f2;
}

/**
 * PHP
 */
.php {
    color: #f8f8f2;
    font-weight: normal;
}
.php-script-tag {
    color: #66d9ef;
    font-weight: bold;
}
.php-comment {
    color: #708090;
}
.php-comment-phpdoc {
    color: #708090;
    font-weight: bold;
}
.php-constant {
    color: #f92672;
}
.php-function {
    color: #e6db74;
}
.php-method {
    color: #e6db74;
}
.php-class {
    color: #f8f8f2;
}
.php-number {
    color: #ae81ff;
}
.php-operator {
    color: #f92672;
}
.php-brackets {
    color: #f8f8f2;
}
.php-keyword {
    color: #66d9ef;
}
.php-string {
    color: #a6e22e;
}
.php-var-type {
    color: #ae81ff;
}
.php-var {
    color: #f8f8f2;
}

/**
 * XML
 */
.xml {
    color: #f8f8f2;
}
.xml-string {
    color: #a6e22e;
}
.xml-comment, .xml-comment span {
    color: #708090;
}
.xml-number {
    color: #ae81ff;
}
.xml-element {
    color: #e6db74;
}
.xml-text {
    color: #f8f8f2;
}

/**
 * JavaScript
 */
.javascript {
    color: #f8f8f2;
}
.js-string {
    color: #a6e22e;
}
.js-bracket {
    color: #f8f8f2;
}
.js-client-keyword {
    color: #e6db74;
}
.js-comment {
    color: #708090;
}
.js-function-keyword {
    color: #66d9ef;
}
.js-native-keyword {
    color: #e6db74;
}
.js-number {
    color: #ae81ff;
}
.js-operator {
    color: #f8f8f2;
}
.js-regexp {
    color: #a6e22e;
}
.js-reserved-keyword {
    color: #66d9ef;
}
